%h1 Issues
%ol#issues
  - ordered_issues.each do |issue|
    %li{ :id => dom_id(issue) }
      = link_to issue.title, issue
      = issue.description

#add_issues
  = link_to "Add Issue", new_issue_path
