%h2 Issues
- unless @issues.blank?

  .issues
    %ul
      %li 
        %span Title
        %span Description
        %span Author

      %ul#sortable
        -@issues.each do |issue|
          %li
            %span= link_to "#{issue.title}", issue_path(issue) 
            %span= issue.description
            %span= issue.author   
-else
  %h3 No Issues

#add_issues
  =link_to "Add Issue", new_issue_path

     
