%fieldset
  =form_for @issue do |f| 
    %ul
      %li
        =f.label :title 
        =f.text_field :title
      %li
        =f.label :description 
        = f.text_area :description
      %li
        =f.label :author 
        =f.text_field :author
    %p.actions
      = submit_tag "Add Issue"
      = link_to "Cancel & Go Back", :back
