@import url("reset.css");
@import url("notices.css");

body {
  background: #4B7399;
  font:normal 62.5%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
	margin:0 auto;
	width:960px;
}

/* Header
-------------------------------------*/

#header {
	overflow:hidden;
}

#header h1 {
	color:#FFF;
	float:left;
	font-size:20px;
	width:300px;
}

#header p.user_login_box {
	color:#FFF;
	font-size:12px;
	float:right;
	text-align:right;
	width:500px;
}

#header p.user_login_box a {
	color:#FFF;
}

#header p.user_login_box a:hover {
	background:#FFF;
	color:#222;
	text-decoration:none;
}

/* Navigation
-------------------------------------*/

#navigation {
  list-style:none;
	overflow:hidden;
}

#navigation li {
  float:left;
}

#navigation li a {
	background:#CCC;
	color:#222;
  display:block;
	font-size:14px;
	padding:5px 10px;
	margin:0 5px 0 0;
	text-decoration:none;
}

#navigation li a.active {
	background:#FFF;
	font-weight:bold;
}

/* Content
-------------------------------------*/

#content {
	background:#FFF;
  overflow:hidden;
	min-height:400px;
}

#content h2 {
	border-bottom:1px solid #CCC;
	font-size:18px;
	padding:5px;
	margin:10px;
}

/* Footer
-------------------------------------*/

#footer {
 color:#FFF;
	padding:5px 0;
}

table {
  width:100%;
  margin: 10px, 0px, 10px;
  border: solid #E3E3E1;
}

th {
  background: #D5D6C6;
  border-bottom: 1px solid #ABAB9E;
  color: black;
  padding: 5px 4px 3px;
  text-align: left;
  vertical-align: bottom;
}

td {
  color: black;
  line-height: 130%;
  padding: 3px 4px;
  text-align: left;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }


