@import url("reset.css");
@import url("notices.css");

body {
  background: #4B7399;
  font:normal 62.5%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
	margin:0 auto;
	width:960px;
}

/* Header
-------------------------------------*/

#header {
	overflow:hidden;
}

#header h1 {
	color:#FFF;
	float:left;
	font-size:20px;
	width:300px;
}

#header p.user_login_box {
	color:#FFF;
	font-size:12px;
	float:right;
	text-align:right;
	width:500px;
}

#header p.user_login_box a {
	color:#FFF;
}

#header p.user_login_box a:hover {
	background:#FFF;
	color:#222;
	text-decoration:none;
}

/* Navigation
-------------------------------------*/

#navigation {
  list-style:none;
	overflow:hidden;
}

#navigation li {
  float:left;
}

#navigation li a {
	background:#CCC;
	color:#222;
  display:block;
	font-size:14px;
	padding:5px 10px;
	margin:0 5px 0 0;
	text-decoration:none;
}

#navigation li a.active {
	background:#FFF;
	font-weight:bold;
}

/* Content
-------------------------------------*/

#content {
	background:#FFF;
  overflow:hidden;
	min-height:400px;
}

#content h2 {
	border-bottom:1px solid #CCC;
	font-size:18px;
	padding:5px;
	margin:10px;
}

/* Footer
-------------------------------------*/

#footer {
 color:#FFF;
	padding:5px 0;
}

table {
  width:99%;
  font-size:14px;
  margin:10px 10px;
}

thead tr th {
  background:#717171;
  color:#fff;
  border-bottom:2px solid #515151;
  font-size:15px;
  font-weight:bold;

}

tbody tr td {
  text-align:left; 
  padding:10px 0;
}

